.sub-title__detail {

    margin-right: 2rem;
    margin-bottom: 2rem;
}

.fa-main {
    background-color: gray;
    color: white;
    padding: 15px;
    font-size: 1.4rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}